<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletUsuariosAdd</servlet-name>
        <servlet-class>usuarios.ServletUsuariosAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuariosDel</servlet-name>
        <servlet-class>usuarios.ServletUsuariosDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServletPrueba</servlet-name>
        <servlet-class>config.NewServletPrueba</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsuariosAdd</servlet-name>
        <url-pattern>/ServletUsuariosAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuariosDel</servlet-name>
        <url-pattern>/ServletUsuariosDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServletPrueba</servlet-name>
        <url-pattern>/NewServletPrueba</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
